<div class="edit-form">
  @for (field of schema; track field) {


    <ng-container>
      <div class="form-field">
        <label class="form-label" [for]="field.name">
          {{ field.label }}
        </label>

        @if (field.type === 'text' || field.type === 'number' || field.type === 'currency') {
          <mat-form-field class="form-input" appearance="fill">
            <input
              matInput
              [id]="field.name"
              [placeholder]="field.placeholder"
              [type]="field.type === 'currency' ? 'number' : field.type"
              [name]="field.name"
              [step]="field.type === 'currency' ? '0.01' : '1'"
              [(ngModel)]="form[field.name]"
              (ngModelChange)="form[field.name] = $event; emitForm()"
            />
          </mat-form-field>
        }


        @if (field.type === 'boolean') {
          <mat-slide-toggle
            class="form-toggle"
            [id]="field.name"
            [(ngModel)]="form[field.name]"
            (ngModelChange)="emitForm()"
            [name]="field.name"
          >
            {{ field.label }}
          </mat-slide-toggle>
        }

        @if (field.type === 'file') {
          <div class="file-upload">
            <input
              type="file"
              accept="image/*"
              [id]="field.name"
              (change)="handleUpload($event, field.name)"
            />
          </div>
        }

        @if (field.type === 'file' && form[field.name]) {
          <div class="file-preview">
            <img [src]="form[field.name]" alt="Preview" />
          </div>
        }

        @if (field.type === 'select') {
          <mat-form-field class="form-input" appearance="fill">
            <mat-label>{{ field.label }}</mat-label>
            <mat-select
              [(ngModel)]="form[field.name]"
              (ngModelChange)="emitForm()"
              [name]="field.name"
            >
              <mat-option
                *ngFor="let option of field.options"
                [value]="option.value"
              >
                {{ option.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        }

        @if (field.type === 'date') {
          <mat-form-field class="form-input" appearance="fill">
            <mat-label>{{ field.placeholder }}</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [(ngModel)]="form[field.name]"
              (ngModelChange)="emitForm()"
              [name]="field.name"
              [id]="field.name"
            />
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        }
      </div>
    </ng-container>
  }
</div>
