.summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  width: 90%;
  box-shadow: 5px 5px 5px #ccc;
}

p{
  height: 12px;
}
.column {
  flex: 1;
  text-align: center;
}

.image-column h4 {
    margin-top: 0;
  }

.summary-btn {
  background-color: #4F8A5B !important;
  color: white !important;
  border-radius: 2px;
  padding: 15px 30px;
}

.btn-content {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
}

.action-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 800px){
  .summary-container {
    flex-direction: column;
  }
}
