<div class="supplier-orders-container">
  <mat-tab-group>
    <mat-tab label="New Orders" >
      <app-new-orders
        [orders]="orders"
        [adminRestaurantsProfiles]="restaurantNameMap"
        [orderSuppliesDetails]="detailedSuppliesGroupedByOrder"
        [suppliesGroupedByOrder]="suppliesGroupedByOrder"
      />
    </mat-tab>

    <mat-tab label="Orders In Progress">
      <app-approved-orders/>
    </mat-tab>

    <mat-tab label="Orders History">
      <app-delivered-orders/>
    </mat-tab>
  </mat-tab-group>
</div>
