.account-widget {
  background: #fff;
  padding: 10px 30px 30px 30px;
  box-shadow: 1px 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 30px;

}
.content {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.account-section {
  justify-content: center;
  justify-items: center;
}
.account-section h4 {
  color: #4F8A5B;
  font-weight: lighter;
}

.amount-row {
  display: flex;
}

.amount {
  font-size: 24px;
  font-weight: bold;
  color: #4F8A5B; /* mismo verde usado en tus botones */
  margin: 0;
}

.trend-icon {
  color: #4F8A5B;
  font-size: 28px;
}
