.widget-container {
  background: #fff;
  padding: 10px 30px 30px 30px;
  box-shadow: 1px 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  font-family: Poppins, serif;
  font-weight: 400;
  font-size: 23px;
}

mat-table {
  background-color: #F4F4F4;
  border-radius: 8px;
  overflow: hidden;
}

mat-header-cell {
  font-weight: bold;
  font-size: 12px;
  color: #757575;
}

mat-cell,
mat-header-cell {
  padding: 12px;
  text-align: left;
}

button {
  background-color: #4F8A5B;
  color: white;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  width: 80%;
  height: 30px;
}
