.summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  margin: 1rem 0;
  width: 90%;
  box-shadow: 5px 5px 5px #ccc;
}

.column {
  flex: 1;
  text-align: center;
}

.image-column img {
  width: 100%;
  max-width: 220px;
  border-radius: 8px;
  margin-top: 1rem;
}

.summary-btn {
  background-color: #4F8A5B !important;
  color: white !important;
  border-radius: 2px;
  padding: 15px 30px;
}

.btn-content {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
}

.action-column {
  display: flex;
  flex-direction: column;
  align-items: center;

}
