<div class="recipe-modal-content">
  <app-create-and-edit-form
    [schema]="schema"
    [initialData]="initialData"
    [mode]="mode"
    [customComponents]="{
    'supply-selector': SupplySelectorComponent
  }"
    (formChange)="handleFormChange($event)"
  ></app-create-and-edit-form>



  <div class="recipe-modal-actions">
    <button
      mat-raised-button
      class="green-button"
      type="button"
      (click)="onSubmit($event)"
    >
      {{ mode === 'edit' ? ('inventory.update' | translate) : ('inventory.save' | translate) }}
    </button>
  </div>
</div>
