<mat-sidenav-container class="layout-container">
  <mat-sidenav
    #drawer
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    [fixedInViewport]="isMobile"
    fixedTopGap="56"
    class="sidebar-container"
  >
    <app-sidebar [menu]="menu" [user]="user"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <mat-toolbar color="primary">
      <button *ngIf="isMobile" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
