.layout-container {
  height: 100vh;
}

.sidebar-container {
  width: 260px;
}

.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  padding: 24px;
  background-color: #fff;
  min-height: calc(100vh - 64px); /* 64px toolbar height */
}
