.layout {
    display: flex;
}

app-sidebar {
    position: fixed;
    top: 0px;
    /* altura del navbar si existe */
    left: 0;
    z-index: 20;
}


.content {
    margin-left: 330px;
    /* Igual al ancho del sidebar */
    width: calc(100% - 330px);
    min-height: calc(100vh - 64px);
    margin-bottom: 1rem;
}

.principal-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 32px;
}