<div class="inventory-container">

  <!-- Carousel (si hay supplies) -->
  @if (supplies.length > 0) {
    <app-supply-carousel [supplies]="supplies" [categories]="categories" />
  }

  <!-- Sección para botón de crear supply -->
  <app-supplier-supply-section
    [suppliesLength]="supplies.length"
    (create)="openCreateModal()"
  />

  <!-- Tabla de inventario -->
  <app-inventory-table
    [batches]="batches"
    (edit)="editBatch($event)"
    (delete)="deleteBatch($event)"
    (create)="openCreateModal()"
    (add)="openAddSupplyToInventory()"
  />

</div>
